*{
    margin: 0;
    padding: 0;
}

#intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('netflixteaser.png');
    background-clip: border-box;
}

#menu{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

#navbar{
    width: 90%;
    margin: auto;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}

#logo{
    color: #e50914;
    font-size: 2.8rem;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -1px;
}

#language{
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgba(28, 26, 26, 0.5);
    border: 1px solid white;
    border-radius: 0.2rem;
}

#signIn{
    background-color: #e50914;
    color: white;
    border: 0;
    font-size: 0.9rem;
    padding: 0.4rem 0.9rem;
    border-radius: 0.2rem;
    font-weight: 700;
}

#intro h1{
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#intro h4{
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

#intro p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}

#content{
    width: 80%;
    margin: 10% auto 3%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2.5rem;
}

#mail{
    width: 80%;
    margin: 0rem auto 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
}

#new{
        width: 80%;
            margin: 0rem auto 3rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            gap: 1rem;
}

#newEmail{
    border: 1px solid white;
    padding: 1rem 10rem 1rem 0.6rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 700;
    background: rgba(20, 20, 20, 0.7);

}

#newEmail::placeholder {
    font-size: 1.2rem;
}

#newBtn{
    background-color: #e50914;
        border: 0;
        color: white;
        padding: 1rem 3.5rem 1rem 1rem;
        border-radius: 0.2rem;
        font-weight: 700;
        font-size: 1.4rem;
        cursor: pointer;
}

#email{
    border: 1px solid white;
    padding: 1rem 10rem 1rem 0.6rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 700;
    background: rgba(20, 20, 20, 0.7);
}

#email::placeholder{
    font-size: 1.2rem;
}

#getStart{
    background-color: #e50914;
    border: 0;
    color: white;
    padding: 1rem 3.5rem 1rem 1rem;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}

hr{
    height: 0.6rem;
    background-color: #232323;
    border: 0px;
}

.contentShow{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 8rem 0rem;
}


.detail{
    width: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.image{
    width: 35%;
}

.detail h2{
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.detail h4{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

#question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 1rem;
}

#question h3{
    font-size: 3rem;
    color: white;
    margin: 2rem 0;
}

#question h4 {
    font-size: 1.2rem;
    color: white;
    margin: 2rem auto;
}

.quest{
    width: 80%;
    margin: auto;
    color: white;
    background-color: #2d2d2d;
    padding: 1.4rem 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.quest:hover {
    background-color: rgb(67, 63, 63);
    color: white;
}

.answer{
    width: 80%;
    margin: auto;
    color: white;
    background-color: #2d2d2d;
    padding: 1.4rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.active{
    display: block;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 2rem 0rem;
}

footer p{
    width: 75%;
    margin: auto; 
    padding: 2rem 0rem;
}

footer ul li{
   list-style-type: none;
}

footer ul li a{
    color: white;
}

#list{
    width: 75%;
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#list li{
    flex-basis: 22%;
}


@media(max-width:960px){

    #logo{
        font-size: 1.6rem;
    }

    #content{
        margin: 15% auto 2%;
    }

    #intro h1{
        font-size: 2.3rem;
    }
    #intro h4{
        font-size: 1.6rem;
    }
    #intro p{
        font-size: 1.4rem;
    }

    .contentShow{
        flex-direction: column;
        gap: 3rem;
    }

    .detail{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .image{
        width: 80vw;
        margin: auto;
    }

    #email::placeholder{
        font-size: 0.9rem;
    }

    #getStart{
        font-size: 0.8rem;
        font-weight: 500;
        padding: 1rem 1.8rem 1rem 1rem;
    }

    #list li{
        flex-basis: 45%;
    }


    #question h3 {
    font-size: 1.6rem;
    }

    #question h4{
        font-size: 1rem;
    }

    #newBtn{
        font-size: 0.8rem;
        font-weight: 500;
        padding: 1rem 1.8rem 1rem 1rem;
    }

    #newEmail::placeholder {
        font-size: 0.9rem;
    }
}

@media(max-width:600px){

    #email{
        width: 90%;
        margin: auto;
        padding: 1rem 4rem 1rem 1rem;
    }

    #language{
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    #getStart{
        font-size: 0.8rem;
        padding: 0.1em 2.6em;
    }

    #intro h1{
        font-size: 1.8rem;
    }
    #intro h4{
        font-size: 1.4rem;
    }
    #intro p{
        font-size: 1.2rem;
    }

    #content{
        margin: 25% auto 8%
    }


    .detail{
        gap: 1.8rem;
    }

    .detail h2{
        font-size: 2rem;
    }

    .detail h4{
        font-size: 0.6rem;
    }

    .image{
        width: 100%;
    }

    #question h3{
        font-size: 1.2rem;
    }
    .quest{
        padding: 1rem 0.6rem;
        font-size: 1rem;
    }
    #question h4{
        font-size: 0.6rem;
    }

    #newBtn{
        font-size: 0.8rem;
        padding: 0.5rem 2.6rem;
    }

    #newEmail {
    width: 90%;
    margin: auto;
    padding: 1rem 4rem 1rem 1rem;
    }

    #newEmail::placeholder{
        font-size: 0.6rem;
    }
}
